@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
	--font-sans: var(--font-geist-sans), sans-serif;
	--font-mono: var(--font-geist-mono), monospace;
}

@layer base {
	body {
		@apply font-sans;
	}
	html {
		@apply font-sans;
	}
}
